.body-div {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 96vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: #1f1f1f;
    transition: 1s;
}





.kısa-bos,
.kısa-button {
    width: 30%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
}

.dark-mode {
    width: 35px;
    height: 16px;
    background-color: #FC3C3C;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.kısa-yazi {
    width: 40%;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.dark-mode .moon-button {
    background-color: #1b1b1b;
    color: #ffffff;
    border: none;
    outline: none;
    height: 16px;
    width: 35px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}



.kısa-bilgi {
    height: 4vh;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    color: #1b1b1b;
    transition: 1s;

}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation__link {
    position: relative;
    display: block;
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navigation__link:hover {
    color: #ffffff;
    -webkit-text-stroke: 1px #1b1b1b;
    transition: 0.25s;
}

.navigation__link:hover::before {
    transform: translate(7px, -7px);
    color: #FC3C3C;
    -webkit-text-stroke: 1px #1b1b1b;
}

.navigation__link:hover::after {
    transform: translate(14px, -14px);
    color: #00ADB5;
    -webkit-text-stroke: 1px #1b1b1b;
}

.navigation__link::before,
.navigation__link::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s;
    -webkit-text-stroke: 1px transparent;
}